<ng-container *ngIf="{
  details: details$ | async,
  id: id$ | async,
  shape: shape$ | async
} as data">
  <section class="first details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/" class="clg link"><i class="icon-arrow-left"></i> Back to list</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <div class="image">
                  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
                    data.id
                  }}.png" [alt]="data?.details?.name" />
                  <div class="shadow"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <label class="px24">#{{ data.id }}</label>
                  <h1>{{ data?.details?.name }}</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="info">
                      <div class="block">
                        <label>Top Moves</label>
                        <p class="px18">
                          <span *ngFor="let move of data?.details?.moves | slice: 0: 10   " class="capitalize">{{ move.move.name }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <div class="row">
                    <div class="col-md-2 col-xs-6">
                      <div class="block">
                        <label>Weight</label>
                        <p class="px18">{{ data?.details?.weight }}</p>
                      </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                      <div class="block">
                        <label>Height</label>
                        <p class="px18">{{ data?.details?.height }}</p>
                      </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                      <div class="block">
                        <label>Experience</label>
                        <p class="px18">{{ data?.details?.base_experience }}</p>
                      </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                      <div class="block">
                        <label>Shape</label>
                        <p class="px18 capitalize">{{ data?.shape?.name }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block">
                        <label>Type</label>
                        <p class="px18">
                          <span *ngFor="let type of data?.details?.types" >{{ type.type.name | titlecase }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block">
                        <label>Abilities</label>
                        <p class="px18">
                          <span *ngFor="let ability of data?.details?.abilities"
                           >{{ ability.ability.name | titlecase }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block">
                        <label>Growth Rate</label>
                        <p class="px18">
                          {{ data?.shape?.growth_rate.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
